.sum-input {
    width: 100%;
    min-height: 400px;
    padding: 0.4rem;
    box-sizing: border-box;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
}

.sum-container {
    margin: 2rem auto
}

.sum-categories {
    text-align: center;
}